body {
  background: hsl(187, 51%, 24%);
  color: hsl(0, 0%, 100%);
  font-size: 30px;
  text-align: center;
  min-height: 100vh;
}

.app {
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 500px;
}

.main-title {
  font-size: 3rem;
}

.counters {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.timer-label {
  padding: 2rem;
}


.buttons {
  display: flex;
  justify-content: center;
  padding: 20px 0 0 0;
  gap: 20px;
}

.timer {
  border: 7px solid #13353a;
  margin: 20px auto 10px auto;
  width: 270 px;
  height: 160 px;
  border-radius: 50 px;
  position: relative;
}
